@using System.Globalization;
@model IEnumerable<SellLaptop.Models.chi_tiet_don_hang>

@foreach (var item in Model)
{
    <div style="border: dotted;margin: 5px;    float: none;    width: 137px; min-height: 238px;   text-align: center;    border-radius: 10px;    float: left;    border-color:#d6e9c6; position:relative;">
        <a href="@Url.Action("","Detail", new { id=item.masp})" title="@item.san_pham.tencartdohoa,@item.san_pham.cpu.congnghe, RAM @item.san_pham.ramdl GB"  style="position:absolute;top:50%;left:50%;width:136px;-webkit-transform:translateX(-50%) translateY(-50%);">
            <img width="120px" height="120px" src="@String.Format("image/{0}/{1}",item.masp,item.san_pham.icon)" />
            <div style="font: bold 14px arial;    color: #f39;    margin-top: 2px;">@item.san_pham.tenhangsx @item.san_pham.tensp</div>
            <div style="font: bold 12px arial;    color: #f30;">Giá: @item.san_pham.gia.ToString("N", CultureInfo.CreateSpecificCulture("es-ES")) VNĐ</div>
            <div>Đã bán: @item.soluongsp máy</div>
            @if (Session["role"] != null)
            {
                using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@item.masp" />
                    <button title="Đặt hàng" type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-shopping-cart" /></button>
                }
            }
        </a>
    </div>
}