<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        ADMIN        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("AddProduct","Admin")">Thêm Sản phẩm</a></li>
        <li><a href="@Url.Action("UpdateCountProduct","Admin")">Đổi số sản phẩm hiện có</a></li>
        <li><a href="@Url.Action("AddCPU","Admin")">Thêm loại CPU</a></li>
        <li><a href="@Url.Action("AddCartDoHoa","Admin")">Thêm Cart màn hình</a></li>
        <li><a href="@Url.Action("AddHangSX","Admin")">Thêm Hãng xản xuất</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="@Url.Action("StatisticasProduct","Admin")">Thống kê Doanh số</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="@Url.Action("ManagerAccount","Admin")">Quản lý Người dùng</a></li>
        <li><a href="@Url.Action("ManagerOrder","Admin")">Quản lý Đơn hàng</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">(trống)</a></li>
    </ul>
</li>

<!--<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Chào Model.hoten
        <span class="caret"></span>
        &nbsp; &nbsp;
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li>Html.ActionLink("Đăng xuất", "LogOut", "Default")</li>
    </ul>
</li>-->
