@using SellLaptop.Models
@model IEnumerable<hang_sx>

@{
    ViewBag.Title = "THỐNG KÊ TỔNG DOANH SỐ";
}

<table class="table table-striped table-hover text-center">
    <tr class="text-center">
        <th class="text-center">HÃNG SẢN XUẤT</th>
        <th class="text-center">SẢN PHẨM</th>
        <th class="text-center">SỐ LƯỢNG BÁN</th>
        <th class="text-center">SỐ LƯỢNG TRONG KHO</th>
    </tr>
    @foreach (var item in Model)
    {
        if (@item.san_pham.Count != 0)
        {
            var count = @item.san_pham.Count + 0;

            @Html.Raw("<tr>");
            <td rowspan="@count" align="center">@item.tenhangsx</td>
            foreach (var i in item.san_pham.ToList())
            {
                if (item.san_pham.First() != i)
                {
                    @Html.Raw("<tr>");
                }
                Html.RenderAction("Statistical1Product", "Admin", new { id = i.masp });
            }
        }
    }
</table>