@using System.Globalization;
@model IList<SellLaptop.Models.san_pham>

@if (Model.Count == 0)
{
    <div>
        <h1>RẤT TIẾC!!! KHÔNG CÓ SẢN PHẨM NÀO THUỘC NHÓM NÀY.</h1>
    </div>
}
else
{
    <div style="margin:0px;">
        @foreach (var item in Model)
        {
        <div style="border: dotted;margin: 5px;margin:auto   ; width: 190px; min-height:234px;  text-align: center;    border-radius: 10px;position:relative;    float: left;    border-color:#d9edf7;">
            <a href="@Url.Action("","Detail", new { id=item.masp})" title="xem Chi tiết" style="position:absolute;top:50%;left:50%;width:189px;-webkit-transform:translateX(-50%) translateY(-50%);">
    <img width="120px" height="120px" src="@String.Format("/image/{0}/{1}",item.masp,item.icon)" />
    <div style="font: bold 14px arial;    color: #f39;    margin-top: 2px;">@item.tenhangsx @item.tensp</div>
    <div>@item.cpu.congnghe, @item.tencartdohoa, RAM @item.ramdl GB</div>
    <div style="font: bold 12px arial;    color: #f30;">Giá: @item.gia.ToString("N", CultureInfo.CreateSpecificCulture("es-ES")) VNĐ</div>
    @if (Session["role"] != null)
    {
        using (Html.BeginForm("Add", "Cart", FormMethod.Post))
        {
            <input type="hidden" name="id" value="@item.masp" />
            <button title="Đặt hàng" type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-shopping-cart" /></button>
        }
    }
            </a>
        </div>
        }
    </div>
    if ((int)Session["npage"] > 1)
    {
        <br/>
        <p style="width:771px;position:relative;margin-top:450px;">
            <ul class="pagination" style="position:absolute;left:43%;-webkit-transform:translateX(-50%);">
                @if ((int)Session["page"] == 1)
                {
                    <li class="disabled"><a href="@Url.Action("SearchSPByPage", "Search", new { page = 1 })">&laquo;</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("SearchSPByPage", "Search", new { page = 1 })">&laquo;</a></li>
                }
                @{int temp = (int)Session["page"];
                    for (int i = 1; i <= (int)Session["npage"]; i++)
                    {
                        if (temp == i)
                        {
                            <li class="active"><a href="@Url.Action("SearchSPByPage", "Search", new { page = i })">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("SearchSPByPage", "Search", new { page = i })">@i</a></li>
                        }
                    }
                }
                @if ((int)Session["page"] == (int)Session["npage"])
                {
                    <li class="disabled"><a href="@Url.Action("SearchSPByPage", "Search", new { page = (int)Session["npage"] })">&raquo;</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("SearchSPByPage", "Search", new { page = (int)Session["npage"] })">&raquo;</a></li>
                }
            </ul>
        </p>
                        }
                    }