@using System.Globalization;

@model IEnumerable<SellLaptop.Models.CartItem>

@{
    ViewBag.Title = "GIỎ HÀNG HIỆN TẠI";
    int total = 0;
}

<table class="table">
    <tr>
        <th style="text-align:center;">
            TÊN SẢN PHẨM
        </th>
        <th style="text-align:center;">
            ĐƠN GIÁ
        </th>
        <th width="100px"  style="text-align:center;">
            SỐ LƯỢNG
        </th>
        <th style="text-align:center;">
            THÀNH TIỀN
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center text-info">GIỎ TRỔNG</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sp.tensp)
                </td>
                <td style="text-align:right;">
                    @item.sp.gia.ToString("N", CultureInfo.CreateSpecificCulture("es-ES")) VNĐ
                </td>    
                <td>
                        <input type="number" size="15" class="form-control" id="inputQ_@item.sp.masp" min="1" value="@item.Quatity" />
                </td>
                <td  style="text-align:right;">
                    @{ 
                        int thanhtien = item.Quatity * item.sp.gia;
                        total += thanhtien;
                    }
                    @thanhtien.ToString("N", CultureInfo.CreateSpecificCulture("es-ES")) VNĐ
                </td>
                <td>
                    <a name="btnUpdate" id="btnUpdate" href="javascript:void;" title="Cập nhật" class="btn btn-success btn-xs" data-id="@item.sp.masp">UPDATE</a>
                    @Html.ActionLink("Delete", "Delete", new { id = item.sp.masp }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
                            <tr>
                                <th></th>
                                <th colspan="2">TỔNG TIỀN GIỎ HÀNG:</th>
                                <th style="text-align:right;">@total.ToString("N", CultureInfo.CreateSpecificCulture("es-ES")) VNĐ</th>
                                <th></th>
                            </tr>
    }

</table>
@if (Model.Count() > 0)
{
    using (Html.BeginForm("Pay", "Cart", FormMethod.Post))
    {
        <div class="form-group">
            <input type="hidden" name="total" value="@total" />
            <label for="address">Địa chỉ nhận hàng:</label>
            <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ nhận hàng:" name="address" />
        </div>
        <button type="submit" class="btn btn-primary">Thanh toán</button>
    }
}

<form id="frmUpdate" action="@Url.Action("Update","Cart")" method="post">
    <input type="hidden" name="id" id="id" />
    <input type="hidden" name="qua" id="qua" />
</form>